body{
    background-image: url(Information.png);
    background-size: cover;
}

h2 , li{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset{
    margin: 100px;
    margin-left: 600px;
    text-align: center;
    color: white;
    border-radius: 50px;
    max-width: 750px;
    max-height: auto;
}

.btn {
    display: block;
    position: relative;
    margin: 10px;
    background-color: red;
    text-decoration: none;
    color: white;
    width: 50px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    transition: 1s;
}

.btn:hover{
    background-color: #000;
    text-decoration: none;
    color:#fff;
    transition: 0.7s;
}