body{
    user-select: none;
    position: relative;
    margin: auto;
    background: #181620;
}

fieldset{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    user-select: none;
    text-align: center;
    color: white;
    border-radius: 20px;
    max-width: auto;
    max-height: auto;
}

.btn {
    float:left;
    margin-left:20px;
    margin-left: 450px;
    margin-top: 10px;
    background-color: red;
    text-decoration: none;
    color: white;
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    transition: 1s;
    font-size:x-large;
}

.btn:hover{
    background-color: #000;
    text-decoration: none;
    color:#fff;
    transition: 0.7s;
}