body {
    margin: 0;
    font-family: "Poppins", "san serif";
}

section {
    position: relative;
}

.content {
    z-index: 9;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    flex-direction: column;
    left: 0;
}

h1{
    text-shadow: red -2px 0, cyan 1px 0;
    font-family: 'Courier New', Courier, monospace;
}

span {
    color: #fff;
}

.dash {
    color: #42f642;
}

h1 {
    color: #fff;
    text-align: center;
    width: 70%;
    font-size: 2rem;
}

video {
    width: 100%;
}

.btn {
    background-color: red;
    text-decoration: none;
    color: white;
    width: 50px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    transition: 0.7s;
}

.btn:hover{
    background-color: #000;
    text-decoration: none;
    color:#fff;
    transition: 0.7s;
}
