body{
    user-select: none;
    position: relative;
    margin: auto;
    background: #4b475c;
    zoom: 60%;
}

h2 , li{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    display: block;
    position: relative;
    margin: 10px;
    background-color: red;
    text-decoration: none;
    color: white;
    text-align: center;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    transition: 1s;
    font-size:xx-large;
}

.btn:hover{
    background-color: #000;
    text-decoration: none;
    color:#fff;
    transition: 0.7s;
}

img {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #4a5964b4;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  font-size: 30px;
  margin: 50px;
  text-align: center;
}